/* @font-face{
  font-family: font;
  src: url(fonts/Furore/Furore.otf);
} */

body{
  background-image: url('../src/sa.jpg');
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h2{
  text-align: center;
  color: white;
  /* font-family: font; */
}

h3{
  padding: 20px;
  margin-top: 10px;
  text-align: center;
  color: white;
  /* font-family: font; */
}
.image{
flex-direction: column;
padding: 12px;
  display: block;
  margin: auto;
  width: 50%;
  height: 50%;
}

.link{
  color: white;
}

button{
  display: block;
  width: 10%;
  display: inline-block;
  position: relative;
  left: 45%;
  margin-top: 100px;
  background-color: #EFBE1D;
  border-radius: 25px;
  padding: 5px;
}

.bb{
  padding: 5px;
  border-radius: 15px;
}
.img-container{
  position: relative;
  text-align: center;
  display: block;
}

.btnd{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
} 


